{% extends "base.html" %}

{% block content %}

<h1 class="page-title">🏆 Equipos Clasificados</h1>

<div class="teams-grid">

    {% for equipo in equipos %}

    <div class="team-card">

        <img src="{{ url_for('static', filename=equipo.flag) }}"
        alt="{{ equipo.name }}"
        class="team-flag">

        <h2>{{ equipo.name }}</h2>
        <p><strong>{{ equipo.group }}</strong></p>

        <p>Ranking FIFA</p>

        <span>#{{ equipo.ranking }}</span>

    </div>

    {% endfor %}

</div>

{% endblock %}