{% extends 'base.html' %}

{% block content %}

<section class="hero">

    <div>
        <h1>Predictor Mundial 2026</h1>

        <p>
            Predicciones con Inteligencia Artificial
            para la Copa Mundial FIFA 2026.
        </p>

         <a href="/grupos" class="hero-button">
            Ver Grupos
        </a>

    </div>

</section>

<div class="stats-grid">

    <div class="stat-card">
    <h3>48</h3>
    <p>Equipos</p>
</div>

<div class="stat-card">
    <h3>12</h3>
    <p>Grupos</p>
</div>

<div class="stat-card">
    <h3>104</h3>
    <p>Partidos</p>
</div>

<div class="stat-card">
    <h3>3</h3>
    <p>Países sede</p>
</div>

</div>

{% endblock %}