{% extends 'base.html' %}

{% block content %}

<section class="hero">

    <div>
        <h1>Predictor Mundial 2026</h1>

        <p>
            Predicciones con Inteligencia Artificial
            para la Copa Mundial FIFA 2026.
        </p>
    </div>

</section>

<div class="stats-grid">

    <div class="stat-card">
        <h3>58.4%</h3>
        <p>Accuracy</p>
    </div>

    <div class="stat-card">
        <h3>55.1%</h3>
        <p>F1 Score</p>
    </div>

    <div class="stat-card">
        <h3>47K</h3>
        <p>Datos</p>
    </div>

    <div class="stat-card">
        <h3>48</h3>
        <p>Equipos</p>
    </div>

</div>

{% endblock %}