{% extends "base.html" %}

{% block content %}

<h1 class="page-title">📊 Predicciones IA</h1>

<div class="prediction-card">

    <h2>México vs Argentina</h2>

    <p>
        Predicción basada en ranking FIFA y sistema ELO.
    </p>

    <div class="prediction-grid">

        <div class="prediction-box">
            <h3>35.4%</h3>
            <span>Gana México</span>
        </div>

        <div class="prediction-box">
            <h3>25.1%</h3>
            <span>Empate</span>
        </div>

        <div class="prediction-box">
            <h3>39.5%</h3>
            <span>Gana Argentina</span>
        </div>

    </div>

</div>

{% endblock %}